<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="#!/login">
            <span class="ef-white-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
        </a>

        <!--<a class="navbar-brand" href="">
            Edit Page
        </a>-->
        <a class="ef-nav-title-light" href="">
            Profile
        </a>

        <a href="#!/profile">
            <span class="ef-white-glyph-header glyphicon glyphicon-ok pull-right"></span>
        </a>

    </div>
</nav>

    <div class="container-fluid">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input readonly
                       ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       id="username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text"
                       ng-model="model.user.firstName"
                       class="form-control"
                       id="first-name">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text"
                       ng-model="model.user.lastName"
                       class="form-control"
                       id="last-name">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="#!/website-list">Websites</a>

        <a class="btn btn-success btn-block">Update Profile</a>

        <a class="btn btn-danger  btn-block"
           href="#!/login">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!profile">
            <span class="ef-white-glyph-header glyphicon glyphicon-user pull-right"></span>
        </a>
    </div>
</nav>
