<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <a class="ef-nav-title-light">Assignment Folder</a>
</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li class="list-group-item">
            <a ng-if="!model.currentUser._id" href="#!/login">User</a>
            <a ng-if="model.currentUser._id" href="#!/profile">User</a>
        </li>

        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1" class="list-group-item">
            <a href="#!/admin">Admin</a>
        </li>

    </ul>

</div>

</body>
</html>