<!DOCTYPE html>


<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top ef-light-nav">
    <div class="container-fluid">
        <a href="#!/search">
            <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
        </a>

        <!--<a class="navbar-brand" href="">
            Edit Page
        </a>-->
        <a class="ef-nav-title-dark" href="">
            Search
        </a>

        <a href="">
            <span class="ef-dark-glyph-header glyphicon glyphicon-ok pull-right"></span>
        </a>

    </div>
</nav>


<div class="container-fluid">

    <label for="category">Category</label>
    <input id="category"
           class="form-control"
           ng-model="model.term"
           placeholder="Search any category!">

    <label for="loc">City</label>
    <div class="input-group">
        <input id="loc"
               ng-model="searchText"
               type="text"
               class="form-control"
               placeholder="Where are you looking?">

        <span class="input-group-btn">
        <a ng-click="model.searchYelp(model.term, searchText)"
           class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li ng-repeat="location in model.locations">
                    <div class="cardView">
                        <div class="cardViewImage" style="background-image: url('{{location.image_url}}')"></div>
                        <div class="container-fluid">

                            <h4>{{location.name}}</h4>


                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>


</div>

<nav class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/home" class="ef-dark-glyph-header col-xs-4 visible-xs">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/user/{{model.userId}}/search"
               class="ef-dark-glyph-header col-xs-4 visible-xs">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a ng-if="model.userLoggedIn"
               href="#!/user/{{model.userId}}"
               class="ef-dark-glyph-header col-xs-4 visible-xs">
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <a ng-if="!model.userLoggedIn"
               href="#!/login"
               class="ef-dark-glyph-header col-xs-4 visible-xs">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>

