<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand">
        Search
    </a>

    <div class="container-fluid">
        <a href="#!/search-friend">
            <div class="findFriendsContainer">
                <h6 class="findFriendsTitle pull-right">Follow other users! &nbsp <span class="glyphicon glyphicon-plus"></span></h6>
            </div>
        </a>
    </div>


</nav>


<div class="container-fluid">
    <!-- category -->
    <label for="category">Category</label>
    <br>

    <div class="btn-group" role="group" aria-label="...">
        <button ng-click="model.setTerm('Food')" type="button" class="btn btn-default">
            Food
            <span class="glyphicon glyphicon-apple"></span>
        </button>
        <button ng-click="model.setTerm('Restaurants')" type="button" class="btn btn-default">
            Restaurants
            <span class="glyphicon glyphicon-cutlery"></span>
        </button>
        <button ng-click="model.setTerm('Bars')" type="button" class="btn btn-default">
            Bars
            <span class="glyphicon glyphicon-glass"></span>
        </button>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button ng-click="model.setTerm('Sports')" type="button" class="btn btn-default">
            Sports
            <span class="glyphicon glyphicon-flag"></span>
        </button>
        <button ng-click="model.setTerm('Delivery')" type="button" class="btn btn-default">
            Delivery
            <span class="glyphicon glyphicon-phone-alt"></span>
        </button>
    </div>
    <input id="category"
           class="form-control"
           ng-model="model.term"
           placeholder="Search any category!"
           value="{{model.term}}">
    <!-- price -->
    <label>Price
        <span class="lighGrayFont smallFont">
            {{model.priceInCash}}
        </span>
    </label>
    <!--<br>-->
    <!--<div class="btn-group" role="group" aria-label="...">-->
        <!--<button ng-click="model.setPrice('1')" type="button" class="btn btn-default">-->
            <!--$-->
        <!--</button>-->
        <!--<button ng-click="model.setPrice('2')" type="button" class="btn btn-default">-->
            <!--$$-->
        <!--</button>-->
        <!--<button ng-click="model.setPrice('3')" type="button" class="btn btn-default">-->
            <!--$$$-->
        <!--</button>-->
        <!--<button ng-click="model.setPrice('4')" type="button" class="btn btn-default">-->
            <!--$$$$-->
        <!--</button>-->
        <!--<button ng-click="model.setPrice('0')" type="button" class="btn btn-default">-->
            <!--<span class="glyphicon glyphicon-remove"></span>-->
        <!--</button>-->
    <!--</div>-->

    <!--<br>-->
    <!-- input a city and click on search icon to find businesses in yelp api -->
    <label for="loc">City <span class="blueFont">*</span></label>
    <div class="input-group">

        <input id="loc"
               ng-model="searchText"
               type="text"
               class="form-control"
               placeholder="Where are you looking?">

        <span class="input-group-btn">
        <a ng-click="model.searchYelp(model.term, searchText)"
           class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>
    <!-- handle error if user does not input a city -->
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="row">

        <div class="col-xs-12">
            <ul class="list-group">
                <li ng-repeat="business in model.businesses">

                    <div class="cardViewLarge">
                        <div class="cardViewImageSearch" style="background-image: url('{{business.image_url}}')"></div>
                        <div class="container-fluid">
                            <h5 class="text-center">
                                {{business.name}}
                            </h5>

                            <div class="line"></div>

                            <h6><span class="glyphicon glyphicon-map-marker"></span>&nbsp
                                <span ng-show="business.location.address1">{{business.location.address1}},</span>
                                {{business.location.city}},
                                {{business.location.state}}
                                <span class="pull-right greenFront">{{business.price}}</span>
                            </h6>

                            <h6 ng-show="business.phone || business.review_count"><span class="glyphicon glyphicon-phone-alt"></span>
                                &nbsp {{business.phone}}
                                <span class="pull-right">
                                    {{business.review_count}} reviews
                                </span>
                            </h6>

                            <a ng-show="business.url" href="{{business.url}}"><h6 class="blueFont">
                                <span class="glyphicon glyphicon-globe"></span>
                                &nbsp Check out this business on Yelp!
                            </h6></a>

                            <div class="line"></div>
                            <h4 ng-if="model.currentUser.businesses.indexOf(business.id) <= -1"
                                ng-click="model.createBusiness(model.currentUser._id, business)"
                                class="pull-right">
                                <a class="aHeart">
                                    <span class="glyphicon glyphicon-heart"></span>
                                </a>
                            </h4>
                            <h4 ng-if="model.currentUser.businesses.indexOf(business.id) > -1"
                                class="pull-right">
                                <span class="glyphicon glyphicon-heart lightRed"></span>
                            </h4>
                            <h6 ng-if="model.currentUser.businesses.indexOf(business.id) <= -1"
                                class="lighGrayFont">
                                Like this business to see what other users are saying about it!
                            </h6>

                            <h6 ng-if="model.currentUser.businesses.indexOf(business.id) > -1"
                                class="lighGrayFont">
                                You and {{business._user.length + 1}} other user(s) like this!
                            </h6>

                            <!--<div class="row">-->
                                <!--<div class="col-xs-2">-->
                                    <!--<div ng-if="!model.currentUser.businesses.indexOf(business) > -1"-->
                                         <!--ng-click="model.createBusiness(model.currentUser._id, business)">-->
                                        <!--<span class="glyphicon glyphicon-heart"></span>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<div ng-if="model.currentUser.businesses.indexOf(business) > -1"&ndash;&gt;-->
                                         <!--&lt;!&ndash;ng-click="model.removeBusiness(model.currentUser._id, business)">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="lightRed glyphicon glyphicon-heart"></span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--</div>-->

                                <!--<div class="col-xs-2">-->
                                    <!--<span class="glyphicon glyphicon-comment"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>

                </li>
            </ul>
        </div>

    </div>


</div>


<!-- admin user -->
<nav ng-show="model.currentUser.roles.indexOf('ADMIN') > -1"
     class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/user-home" class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/user-search"
               class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#!/profile"
               class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a href="#!/admin" class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-lock"></span>
            </a>

        </div>
    </div>
</nav>

<!-- user -->

<nav ng-show="model.currentUser._id && !(model.currentUser.roles.indexOf('ADMIN') > -1)"
     class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/user-home" class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/user-search"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#!/profile"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

<!-- anon user -->
<nav ng-show="!model.currentUser._id"
     class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/home" class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/search"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#!/login"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-fixed-bottom navbar-default ef-light-nav">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row text-center">-->

            <!--<a href="#!/user-home"-->
               <!--class="ef-dark-glyph-header col-xs-4 visible-xs">-->
                <!--<span class="glyphicon glyphicon-home"></span>-->
            <!--</a>-->
            <!--<a href="#!/user-search"-->
               <!--class="ef-dark-glyph-header col-xs-4 visible-xs">-->
                <!--<span class="glyphicon glyphicon-search"></span>-->
            <!--</a>-->
            <!--<a href="#!/profile"-->
               <!--class="ef-dark-glyph-header col-xs-4 visible-xs">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
            <!--</a>-->

        <!--</div>-->
    <!--</div>-->

<!--</nav>-->



