<!DOCTYPE html>


<nav class="navbar navbar-default ef-light-nav navbar-fixed-top hidden-xs col-sm-4">

    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
    </a>

    <a class="ef-nav-title-dark" href="#">
        Widgets
    </a>

</nav>



<nav class="navbar navbar-default ef-light-nav navbar-fixed-top col-sm-8">

    <a class="visible-xs" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
    </a>

    <!--<a class="navbar-brand" href="">
        Edit Page
    </a>-->
    <a class="ef-nav-title-dark" href="#">
        Widget Edit
    </a>

    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        <span class="ef-dark-glyph-header glyphicon glyphicon-ok pull-right"></span>
    </a>


</nav>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs srollable-left">
            <div class="list-group">
                <a href="widget-heading.view.client.html" class="list-group-item list-group-item-action">Header</a>
                <a href="#" class="list-group-item list-group-item-action">Label</a>
                <a href="#" class="list-group-item list-group-item-action">HTML</a>
                <a href="#" class="list-group-item list-group-item-action">Text Input</a>
                <a href="#" class="list-group-item list-group-item-action">Link</a>
                <a href="#" class="list-group-item list-group-item-action">Button</a>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
                   class="list-group-item list-group-item-action">
                    Image
                </a>
                <a href="widget-youtube.view.client.html" class="list-group-item list-group-item-action">YouTube</a>
                <a href="#" class="list-group-item list-group-item-action">Data Table</a>
                <a href="#" class="list-group-item list-group-item-action">Repeater</a>
            </div>
        </div>


        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADING">
                <div ng-include="'views/widget/editors/widget-heading-edit.view.client.html'"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <div ng-include="'views/widget/editors/widget-image-edit.view.client.html'"></div>
            </div>
            <div ng-switch-when="YOUTUBE">
                <div ng-include="'views/widget/editors/widget-youtube-edit.view.client.html'"></div>
            </div>

        </div>




    </div>
</div>




<nav class="navbar navbar-default ef-light-nav navbar-fixed-bottom">
    <div class="container-fluid">

        <!--<a class="navbar-brand" href="">
            Footer
        </a>-->

        <a class="ef-nav-title-dark" href="#">
            Footer
        </a>

        <a href="#!/user/{{model.userId}}">
            <span class="ef-dark-glyph-header glyphicon glyphicon-user pull-right"></span>
        </a>

    </div>
</nav>