<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum scale=1.0, user-scalable=no"/>-->
    <!--<meta charset="UTF-8">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="../css/style.css" rel="stylesheet"/>-->
    <!--<title>Website Image</title>-->
<!--</head>-->
<!--<body>-->


<nav class="navbar navbar-default ef-light-nav navbar-fixed-top hidden-xs col-sm-4">

    <a href="widget-list.view.client.html">
        <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
    </a>

    <a class="ef-nav-title-dark" href="#">
        Widgets
    </a>

</nav>



<nav class="navbar navbar-default ef-light-nav navbar-fixed-top col-sm-8">

    <a class="visible-xs" href="widget-list.view.client.html">
        <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
    </a>

    <!--<a class="navbar-brand" href="">
        Edit Page
    </a>-->
    <a class="ef-nav-title-dark" href="#">
        Widget Edit
    </a>

    <a href="widget-list.view.client.html">
        <span class="ef-dark-glyph-header glyphicon glyphicon-ok pull-right"></span>
    </a>


</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs srollable-left">
            <div class="list-group">
                <a href="widget-heading.view.client.html" class="list-group-item list-group-item-action">Header</a>
                <a href="#" class="list-group-item list-group-item-action">Label</a>
                <a href="#" class="list-group-item list-group-item-action">HTML</a>
                <a href="#" class="list-group-item list-group-item-action">Text Input</a>
                <a href="#" class="list-group-item list-group-item-action">Link</a>
                <a href="#" class="list-group-item list-group-item-action">Button</a>
                <a href="widget-image.view.client.html" class="list-group-item list-group-item-action">Image</a>
                <a href="widget-youtube.view.client.html" class="list-group-item list-group-item-action">YouTube</a>
                <a href="#" class="list-group-item list-group-item-action">Data Table</a>
                <a href="#" class="list-group-item list-group-item-action">Repeater</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" placeholder="Name">

            <label for="text">Text</label>
            <input id="text" class="form-control" type="text" placeholder="Text">

            <label for="url">URL</label>
            <input id="url" class="form-control" type="text" placeholder="Image URL">

            <label for="width">Width</label>
            <input id="width" class="form-control" type="text" placeholder="0%">

            <label for="upload">Upload</label>
            <input id="upload" class="form-control" type="file" placeholder="File">

            <button class="btn btn-block btn-primary">Upload Image</button>
            <a class="btn btn-block btn-danger" href="widget-list.view.client.html">
                Delete
            </a>
        </div>
    </div>
</div>



<nav class="navbar navbar-default ef-light-nav navbar-fixed-bottom">
    <div class="container-fluid">

        <!--<a class="navbar-brand" href="">
            Footer
        </a>-->

        <a class="ef-nav-title-dark" href="#">
            Footer
        </a>

        <a href="#!/profile">
            <span class="ef-dark-glyph-header glyphicon glyphicon-user pull-right"></span>
        </a>

    </div>
</nav>


<!--</body>-->
<!--</html>-->