<!DOCTYPE html>


    <nav class="navbar navbar-default ef-light-nav navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
            </a>

            <!--<a class="navbar-brand" href="">
                Edit Page
            </a>-->
            <a class="ef-nav-title-dark" href="#">
                Choose Widget
            </a>

            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="ef-dark-glyph-header glyphicon glyphicon-ok pull-right"></span>
            </a>

        </div>
    </nav>

    <div class="container-fluid">

        <div class="list-group">

            <!--<a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/123" class="list-group-item list-group-item-action">Header</a>-->
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/000"
               class="list-group-item list-group-item-action">
                Header {{model.emptyWidget.widgetType}}
            </a>
            <a href="#" class="list-group-item list-group-item-action">Label</a>
            <a href="#" class="list-group-item list-group-item-action">HTML</a>
            <a href="#" class="list-group-item list-group-item-action">Text Input</a>
            <a href="#" class="list-group-item list-group-item-action">Link</a>
            <a href="#" class="list-group-item list-group-item-action">Button</a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/001"
               class="list-group-item list-group-item-action">
                Image
            </a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/002"
               class="list-group-item list-group-item-action">
                YouTube
            </a>
            <a href="#" class="list-group-item list-group-item-action">Data Table</a>
            <a href="#" class="list-group-item list-group-item-action">Repeater</a>
        </div>


    </div>

    <nav class="navbar navbar-default ef-light-nav navbar-fixed-bottom">
        <div class="container-fluid">

            <a class="ef-nav-title-dark" href="#">
                Footer
            </a>

            <a href="#!/user/{{model.userId}}">
                <span class="ef-dark-glyph-header glyphicon glyphicon-user pull-right"></span>
            </a>

        </div>
    </nav>

