<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <title>Widget Chooser</title>
</head>
<body>

    <nav class="navbar navbar-default ef-light-nav navbar-fixed-top">
        <div class="container-fluid">
            <a href="widget-list.view.client.html">
                <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
            </a>

            <!--<a class="navbar-brand" href="">
                Edit Page
            </a>-->
            <a class="ef-nav-title-dark" href="#">
                Choose Widget
            </a>

            <a href="widget-list.view.client.html">
                <span class="ef-dark-glyph-header glyphicon glyphicon-ok pull-right"></span>
            </a>

        </div>
    </nav>

    <div class="container-fluid">

        <div class="list-group">
            <a href="widget-heading.html" class="list-group-item list-group-item-action">Header</a>
            <a href="#" class="list-group-item list-group-item-action">Label</a>
            <a href="#" class="list-group-item list-group-item-action">HTML</a>
            <a href="#" class="list-group-item list-group-item-action">Text Input</a>
            <a href="#" class="list-group-item list-group-item-action">Link</a>
            <a href="#" class="list-group-item list-group-item-action">Button</a>
            <a href="widget-image.html" class="list-group-item list-group-item-action">Image</a>
            <a href="widget-youtube.html" class="list-group-item list-group-item-action">YouTube</a>
            <a href="#" class="list-group-item list-group-item-action">Data Table</a>
            <a href="#" class="list-group-item list-group-item-action">Repeater</a>
        </div>


    </div>

    <nav class="navbar navbar-default ef-light-nav navbar-fixed-bottom">
        <div class="container-fluid">

            <!--<a class="navbar-brand" href="">
                Footer
            </a>-->

            <a class="ef-nav-title-dark" href="#">
                Footer
            </a>

            <a href="../user/profile.html">
                <span class="ef-dark-glyph-header glyphicon glyphicon-user pull-right"></span>
            </a>

        </div>
    </nav>


</body>
</html>