<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum scale=1.0, user-scalable=no"/>-->
    <!--<meta charset="UTF-8">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="../css/style.css" rel="stylesheet"/>-->
    <!--<title>Widgets</title>-->
<!--</head>-->
<!--<body>-->

    <nav class="navbar navbar-default ef-light-nav navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
            </a>

            <!--<a class="navbar-brand" href="">
                Edit Page
            </a>-->
            <a class="ef-nav-title-dark" href="">
                Widgets
            </a>

            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="ef-dark-glyph-header glyphicon glyphicon-plus pull-right"></span>
            </a>

        </div>
    </nav>


    <div class="container-fluid">
        <div wbdv-sortable="">
            <div ng-repeat="widget in model.widgets"
                 class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>



                <div ng-switch="widget.type">

                    <div ng-switch-when="HEADING">
                        <div ng-include="'views/widget/common/widget-heading.view.client.html'"></div>
                    </div>

                    <div ng-switch-when="IMAGE">
                        <div ng-include="'views/widget/common/widget-image.view.client.html'"></div>
                    </div>

                    <div ng-switch-when="YOUTUBE">
                        <div ng-include="'views/widget/common/widget-youtube.view.client.html'"></div>
                    </div>

                    <div ng-switch-when="HTML"
                         ng-bind-html="model.trustThisContent(widget.text)">
                    </div>

                    <div ng-switch-when="TEXT">
                        <label for="textInput">
                            {{widget.name}}
                        </label>
                        <div ng-if="widget.formatted"
                             text-angular
                             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                            ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                            ['indent','outdent'],['html']]">

                        </div>
                        <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                               placeholder="{{widget.placeholder}}"
                               id="textInput"
                               class="form-control"/>
                        <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                                  rows="{{widget.rows}}"
                                  placeholder="{{widget.placeholder}}"
                                  class="form-control">
                            {{widget.text}}
                        </textarea>

                        <!--ng-include="'views/widget/common/widget-text.view.client.html'"></div>-->
                    </div>

                </div>

            </div>
        </div>



    </div>

    <nav class="navbar navbar-default ef-light-nav navbar-fixed-bottom">
        <div class="container-fluid">

            <a class="ef-nav-title-dark" href="">
                Footer
            </a>

            <a href="#!/user/{{model.userId}}">
                <span class="ef-dark-glyph-header glyphicon glyphicon-user pull-right"></span>
            </a>

            <a href="">
                <span class="ef-dark-glyph-header glyphicon glyphicon-play pull-left"></span>
            </a>

            <a href="">
                <span class="ef-dark-glyph-header glyphicon glyphicon-eye-open pull-left"></span>
            </a>

        </div>
    </nav>

<!--</body>-->
<!--</html>-->