<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum scale=1.0, user-scalable=no"/>-->
    <!--<meta charset="UTF-8">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="../css/style.css" rel="stylesheet"/>-->
    <!--<title>Website Edit</title>-->
<!--</head>-->
<!--<body>-->

<nav class="navbar navbar-default navbar-fixed-top hidden-xs col-sm-4">

    <a href="#!/user/{{model.userId}}/website">
        <span class="ef-white-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
    </a>

    <a class="ef-nav-title-light" href="#">
        Websites
    </a>

    <a href="">
        <span class="ef-white-glyph-header glyphicon glyphicon-plus pull-right"></span>
    </a>


</nav>

<nav class="navbar navbar-default navbar-fixed-top col-sm-8">

    <a class="visible-xs" href="#!/user/{{model.userId}}/website">
        <span class="ef-white-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
    </a>
    <a class="ef-nav-title-light" href="#">
        New Website
    </a>

    <a href="#!/user/{{model.userId}}/website">
        <span class="ef-white-glyph-header glyphicon glyphicon-ok pull-right"></span>
    </a>


</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs srollable-left">
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <a href="#!/user/{{model.userId}}/website">
                        {{website.name}}
                    </a>
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <label for="name">Name</label>
            <input id="name"
                   ng-model="website.name"
                   class="form-control"
                   placeholder="Name"
                   required/>
            <div ng-show="model.nameError" class="alert alert-danger">
                {{model.nameError}}
            </div>

            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="website.description"
                      rows="5"
                      class="form-control"
                      placeholder="Description"></textarea>
            <a ng-click="model.createWebsite(model.userId, website)"
               class="btn btn-block btn-success">
                Create
            </a>

        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/profile">
            <span class="ef-white-glyph-header glyphicon glyphicon-user pull-right"></span>
        </a>
    </div>
</nav>
<!--</body>-->
<!--</html>-->