<!DOCTYPE html>

<div class="col-xs-12 col-sm-8">
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           type="text"
           placeholder="Name">

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widgetCopy.text"
           class="form-control"
           type="text"
           placeholder="Text">

    <label for="size">Size</label>
    <input id="size"
           ng-model="model.widgetCopy.size"
           class="form-control"
           type="text"
           placeholder="Size">
    <!--<select class="form-control"
            ng-model="model.widget.size"
            id="size">
        <option value="ONE">1</option>
        <option value="TWO">2</option>
        <option value="THREE">3</option>
        <option value="FOUR">4</option>
        <option value="FIVE">5</option>
    </select>-->

    <a ng-click="model.createWidget(model.pageId, model.widgetCopy)"
       class="btn btn-block btn-primary">
        Create
    </a>

    <a ng-click="model.updateWidget(model.widgetId, model.widgetCopy)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>