<!DOCTYPE html>

<div class="col-xs-12 col-sm-8">
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           type="text"
           placeholder="Name">

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widgetCopy.text"
           class="form-control"
           type="text"
           placeholder="Text">

    <label for="size">Size</label>
    <input id="size"
           ng-model="model.widgetCopy.size"
           class="form-control"
           type="text"
           placeholder="Size">


    <a ng-click="model.updateWidget(model.widgetId, model.widgetCopy)"
       class="btn btn-block btn-primary">
        Create
    </a>

    <a ng-click="model.updateWidget(model.widgetId, model.widgetCopy)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>