<!DOCTYPE html>

<div class="col-xs-12 col-sm-8">
    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widgetCopy.name"
           class="form-control"
           type="text"
           placeholder="Name">

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widgetCopy.text"
           class="form-control"
           type="text"
           placeholder="Text">

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widgetCopy.url"
           class="form-control"
           type="text"
           placeholder="Video URL">

    <label for="width">Width</label>
    <input id="width"
           ng-model="model.widgetCopy.width"
           class="form-control"
           type="text"
           placeholder="0%">

    <a ng-click="model.updateWidget(model.widgetId, model.widgetCopy)"
       class="btn btn-block btn-primary">Upload</a>

    <a ng-click="model.updateWidget(model.widgetId, model.widgetCopy)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>