<!DOCTYPE html>

<div class="col-xs-12 col-sm-8">
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           type="text"
           placeholder="Name">

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           type="text"
           placeholder="Text">

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widgetCopy.url"
           class="form-control"
           type="text"
           placeholder="Image URL">

    <label for="width">Width</label>
    <input id="width"
           ng-model="model.widgetCopy.width"
           class="form-control"
           type="text"
           placeholder="0%">

    <label for="upload">Upload</label>

    <a class="btn btn-info btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search">
        Search
    </a>

    <form id="upload" action="/api/assignment/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <!--<a ng-click="model.createWidget(model.pageId, model.widgetCopy)"-->
       <!--class="btn btn-block btn-primary">-->
        <!--Upload Image-->
    <!--</a>-->

    <a ng-click="model.updateWidget(model.widgetId, model.widgetCopy)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>