<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">

</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"
            class="list-group-item">
            <a href="#!/admin">
                Admin Portal
            </a>
        </li>

        <!--<li class="list-group-item">-->
            <!--<a href="#!/search">Yelp API Test</a>-->
        <!--</li>-->

        <li class="list-group-item">
            <a ng-if="!model.currentUser._id"
               href="#!/login">Login</a>
            <a ng-if="model.currentUser._id"
               href="#!/profile">Login</a>
        </li>

        <li class="list-group-item">
            <a ng-if="!model.currentUser._id"
               href="#!/home">Main</a>
            <a ng-if="model.currentUser._id"
               href="#!/user-home">Main</a>
        </li>

    </ul>

</div>

<!-- admin user -->
<nav ng-show="model.currentUser.roles.indexOf('ADMIN') > -1"
     class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/user-home" class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/user-search"
               class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#!/profile"
               class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a href="#!/admin" class="ef-dark-glyph-header col-xs-3">
                <span class="glyphicon glyphicon-lock"></span>
            </a>

        </div>
    </div>
</nav>

<!-- user -->

<nav ng-show="model.currentUser._id && !(model.currentUser.roles.indexOf('ADMIN') > -1)"
     class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/user-home" class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/user-search"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#!/profile"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

<!-- anon user -->
<nav ng-show="!model.currentUser._id"
     class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/home" class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/search"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#!/login"
               class="ef-dark-glyph-header col-xs-4">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

</body>
</html>