<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand">
        Profile
    </a>
    <div class="container-fluid">
        <a ng-click="model.logout()">
            <span class="ef-white-glyph-header glyphicon glyphicon-off pull-right"></span>
        </a>

        <a>
            <span class="ef-white-glyph-header glyphicon glyphicon-cog ef-glyph-margin pull-right"></span>
        </a>

    </div>
</nav>


<div class="container-fluid">

    <div class="profileInfo">
        <div class="container-fluid row">
            <div class="col-xs-4 profileImg text-center">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <h3 class="col-xs-4">
                {{model.user.username}}
            </h3>
        </div>
    </div>

    <h2>{{model.user.email}}</h2>

    <ul class="list-group">
        <li ng-repeat="business in model.businesses"
            class="list-group-item">

            <div class="row">
                <div class="col-xs-4">
                    <img width="100px" ng-src="{{business.image_url}}">
                </div>
                <div class="col-xs-4">
                    <h4>{{business.name}}</h4>
                </div>
                <div class="col-xs-4">
                    <h4>{{business.location.city}}, {{business.location.state}}</h4>
                </div>
            </div>

        </li>
    </ul>

</div>

<nav class="navbar navbar-fixed-bottom navbar-default ef-light-nav">
    <div class="container-fluid">
        <div class="row text-center">

            <a href="#!/user-home" class="ef-dark-glyph-header col-xs-4 visible-xs">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="#!/user-search"
               class="ef-dark-glyph-header col-xs-4 visible-xs">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a
                    href="#!/profile"
                    class="ef-dark-glyph-header col-xs-4 visible-xs">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>

</nav>