<!DOCTYPE html>

<nav class="navbar navbar-default ef-light-nav navbar-fixed-top">
    <div class="container-fluid">

        <a href="#!/search">
            <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
        </a>

        <a class="ef-nav-title-dark" href="">
            Dashboard
        </a>


        <a class="pull-right ef-dark-glyph-header">
            <span class="glyphicon glyphicon-user"></span>
        </a>

        <a class="pull-right ef-dark-glyph-header ef-glyph-margin">
            <span class="glyphicon glyphicon-search"></span>
        </a>

        <!--<a class="btn btn-default">-->
            <!--<span class="ef-dark-glyph-header glyphicon glyphicon-search pull-right"></span>-->
        <!--</a>-->
        <!--<a>-->
            <!--<span class="ef-dark-glyph-header glyphicon glyphicon-option-vertical pull-right"></span>-->
        <!--</a>-->

    </div>
</nav>


<div class="container-fluid">

    <h1>Home</h1>




</div>

<nav class="navbar navbar-default ef-light-nav navbar-fixed-bottom">
    <div class="container-fluid">


        <a class="pull-right ef-dark-glyph-header">
            <span class="glyphicon glyphicon-user"></span>
        </a>


    </div>
</nav>
