<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top ef-light-nav">
    <div class="container-fluid">
        <a href="#!/search">
            <span class="ef-dark-glyph-header glyphicon glyphicon-chevron-left pull-left"></span>
        </a>

        <!--<a class="navbar-brand" href="">
            Edit Page
        </a>-->
        <a class="ef-nav-title-dark" href="">
            Search
        </a>

        <a href="">
            <span class="ef-dark-glyph-header glyphicon glyphicon-ok pull-right"></span>
        </a>

    </div>
</nav>


<div class="container-fluid">

    <label for="category">Category</label>
    <input id="category"
           class="form-control"
           ng-model="model.term"
           placeholder="Search any category!">

    <label for="loc">City</label>
    <div class="input-group">

        <input id="loc"
               ng-model="searchText"
               type="text"
               class="form-control"
               placeholder="Where are you looking?">

        <span class="input-group-btn">
        <a ng-click="model.searchYelp(model.term, searchText)"
           class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <ul class="list-group">
        <li ng-repeat="location in model.locations"
            class="list-group-item">
            <div class="text-center">
                <img ng-src="{{location.image_url}}" width="310px">
            </div>
            <h4>{{location.name}}</h4>

            <h6>Categories:</h6>
            <h6 ng-repeat="category in location.categories">{{category.title}}</h6>

            <h6>Rating {{location.rating}}</h6>
        </li>
    </ul>

</div>